Repository technote-space/toc-generator, pull requests merged in 2020-11, with the labels that each got.

#279 chore: sync workflows
  .github/workflows/broken-link-check.yml
  .github/workflows/ci.yml
  .github/workflows/update-dependencies.yml
Labels: Status: In Progress, Type: CI/CD, Type: Maintenance

#282 chore(docs): update TOC (release/next-v2.6.1 -> master)
  README.ja.md
  README.md
Labels: Status: In Progress, Type: Documentation

#278 release: v3.0.0
  .github/workflow-settings.json
  .github/workflows/toc.yml
  README.ja.md
  README.md
  __tests__/utils/misc.test.ts
  __tests__/utils/process.test.ts
  action.yml
  package.json
  src/constant.ts
  src/utils/misc.ts
  yarn.lock
Labels: Release: Major, Status: In Progress, Type: Release

#281 docs: add jina to sample repositories
  README.md
Labels: Status: In Progress, Type: Documentation

#284 release: v3.0.1
  __tests__/utils/process.test.ts
  package.json
  yarn.lock
Labels: Release: Patch, Status: In Progress, Type: Release

#285 Feature/#283
  __tests__/fixtures/doctoc/README.horizontal.md
  __tests__/fixtures/doctoc/expected/README.horizontal.md
  __tests__/utils/doctoc.test.ts
  __tests__/utils/process.test.ts
  action.yml
  package.json
  src/utils/transform.ts
  yarn.lock
Labels: Status: In Progress, Type: Documentation, Type: Feature, typescript

#286 release: v3.1.0
  README.ja.md
  README.md
  __tests__/fixtures/doctoc/README.horizontal.md
  __tests__/fixtures/doctoc/expected/README.horizontal.md
  __tests__/utils/doctoc.test.ts
  __tests__/utils/process.test.ts
  action.yml
  package.json
  src/utils/transform.ts
  yarn.lock
Labels: Release: Minor, Status: In Progress, Type: Release

#287 release: v3.1.1
  README.ja.md
  README.md
  __tests__/fixtures/doctoc/expected/README.horizontal1.md
  __tests__/fixtures/doctoc/expected/README.horizontal2.md
  __tests__/utils/doctoc.test.ts
  action.yml
  package.json
  src/utils/transform.ts
  yarn.lock
Labels: Release: Patch, Status: In Progress, Type: Release

#288 chore: sync workflows
  .github/workflows/add-release-tag.yml
  .github/workflows/add-test-tag.yml
  .github/workflows/ci.yml
Labels: Status: In Progress, Type: CI/CD, Type: Maintenance
