Repository technote-space/toc-generator, pull requests merged in 2021-02, with the labels that each got.

#308 chore: sync workflows
  .github/workflow-settings.json
Labels: Status: In Progress, Type: Maintenance

#310 Doc: fix flipped option descriptions
  README.md
Labels: Status: In Progress, Type: Documentation

#306 release: v3.1.5
  README.md
  package.json
  yarn.lock
Labels: Release: Patch, Status: In Progress, Type: Release

#312 release: v4.0.0
  __tests__/utils/process.test.ts
  package.json
  yarn.lock
Labels: Release: Major, Status: In Progress, Type: Release

#317 chore: sync workflows
  .github/workflow-settings.json
Labels: Status: In Progress, Type: Maintenance

#315 release: v4.0.1
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  README.ja.md
  README.md
  package.json
  yarn.lock
Labels: Release: Patch, Status: In Progress, Type: Release

#318 release: v4.0.2
  package.json
  yarn.lock
Labels: Release: Patch, Status: In Progress, Type: Release
